body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial black';
}

header {
  height: 60px;
  padding: 0 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  height: 70%;
  width: 40%;
}

.search-form {
  height: 100%;
  width: 100%;
  display: flex;
  &__input {
    height: 100%;
    width: 100%;
  }
  &__btn {
    width: 100px;
  }
}



.container {
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  background-color: lightgray;
}

.side {
  height:100%;
  width: 240px;
  background-color: lightgreen;
  position: fixed;
}

.main {
  height: 100%;
  margin-left: 240px;
  width: calc(100% - 100px);
  overflow: scroll;
}

.info {
  height: 40%;
  width: 100%;
  background-color: lightskyblue;
  display: flex;
}

.left-info {
  width: 50%;
}

.right-info {
  width: 50%;
}

.content {
  height: 60%;
  width: 100%;
  &__best {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: lightcoral;
  }
  &__new {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: lightyellow;
  }
}

.main-box {
  height: 150px;
  width: 20%;
  margin: 20px 30px;
  &__content {
    height: 85%;
    width: 100%;
    font-size: 18px;
    writing-mode: vertical-rl;
    background-color: lightpink;
  }
  &__bar {
    height: 15%;
    width: 100%;
    font-size: 12px; 
    background-color: lightsalmon;
  }
}

.main-box#best {
  height: 250px;
  width: 90%;
}

.main-box#show {
  height: 500px;
  width: 90%;
}